WeatherApplication/WeatherApplication.xcodeproj/project.xcworkspace/xcuserdata/vladpanchenko.xcuserdatad/UserInterfaceState.xcuserstate
WeatherApplication/WeatherApplication.xcodeproj/xcuserdata/vladpanchenko.xcuserdatad/xcschemes/xcschememanagement.plist
